<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8eb66a5b6c.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/562cba4b55.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/76efef7ed6.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container__sup">
        <div class="body__header__icon">
            <img src="/images/logo-mercado-liebre.svg" alt="icono">
        </div>
        <div class="body__header__busqueda">
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas">
                <button class="fa-solid fa-magnifying-glass"></button>
            </form>
        </div>
        </div>
        <p class="body__header__h2"><i id="nav__icon" class="fa-solid fa-hand-holding-dollar"></i><b> Comprá en cuotas y
                sin tarjeta de crédito</b></p>
        <nav class="body__header__lista">
            <ul type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="">Crea tu cuenta</a><i id="nav__icon" class="fa-solid fa-id-card"></i></li>
                <li><a href="">Ingresá</a><i id="nav__icon" class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i id="nav__icon" class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div>
            <img class="header__img__home-banner" width="100%" src="/images/img-home-banner.jpg" alt="img-home-banner">
        </div>
    </header>
    <main>
        <section >
            <h2 class="titulares">Basado en tu última visita</h2>
            <div class="body__main__section-ult-vis">
            <article class="body__main__article-ult-vis">
                <div>
                    <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                </div>
                <i id="logo_envio" class="fa-solid fa-truck"></i>
                <div class="div_pyd"><p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
                </div>
                <h4 class="body__main__h4">Cafetera Moulinex</h4>
            </article>
            <article>
                <div class="article-div">
                    <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                </div>
                <i id="logo_envio" class="fa-solid fa-truck"></i>
                <div class="div_pyd">
                <p class="precios">$230.000</p>
                <p class="descuentos">20% off</p>
                </div>
                <h4 class="body__main__h4">MacBook Pro 2019</h4>
            </article>
            <article>
                <div class="article-div">
                    <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung">
                </div>
                <i id="logo_envio" class="fa-solid fa-truck"></i>
                <div class="div_pyd">
                <p class="precios">$70.500</p>
                <p class="descuentos">10% off</p>
                </div>
                <h4 class="body__main__h4">Samsung Galaxy S10</h4>
            </article>
            <article>
                <div class="article-div">
                    <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart tv Samsung">
                </div>
                <i id="logo_envio" class="fa-solid fa-truck"></i>
                <div class="div_pyd">
                <p class="precios">$23.200</p>
                <p class="descuentos">5% off</p>
                </div>
                <h4 class="body__main__h4">SmartTv Samsung 43"</h4>
            </article>
            </div>
            </section>
            <section>
                <h2 class="titulares">Sección de Ofertas</h2>
                <div class="body__main__section-ofer">
                <article>
                    <div class="article-div">
                        <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    </div>
                    <i id="logo_envio" class="fa-solid fa-truck"></i>
                    <div class="div_pyd">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    </div>
                    <h4 class="body__main__h4">Cafetera Moulinex</h4>
                </article>
                <article>
                    <div class="article-div">
                        <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    </div>
                    <i id="logo_envio" class="fa-solid fa-truck"></i>
                    <div class="div_pyd">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    </div>
                    <h4 class="body__main__h4">MacBook Pro 2019</h4>
                </article>
                <article>
                    <div class="article-div">
                        <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung">
                    </div>
                    <i id="logo_envio" class="fa-solid fa-truck"></i>
                    <div class="div_pyd">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    </div>
                    <h4 class="body__main__h4">Samsung Galaxy S10</h4>
                </article>
                <article>
                    <div class="article-div">
                        <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart tv Samsung">
                    </div>
                    <i id="logo_envio" class="fa-solid fa-truck"></i>
                    <div class="div_pyd">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    </div>
                    <h4 class="body__main__h4">SmartTv Samsung 43"</h4>
                </article>
            </div>
            </section>
    </main>
    <footer>
        <section>
            <i id="footer_icon" class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i id="footer_icon" class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i id="footer_icon" class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>