body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

header {
    background-color: #EAC926;
}

.body__header__icon img {
    width: 160px;
    height: 160px;
    display: inline-flex;
    max-height: 100px;
    margin-left: 30px;

}

.body__header__busqueda {
    margin-left: 30px;
}

button {
    display: flex;
    bottom: 10px;


}

.body__header__h2 {
    text-align: center;
    color: black;

}

a {
    color: black;
    padding-left: 0px;
    text-decoration: none;
    font-size: 13px;

}



#nav__icon {
    color: black;
}

.burger-menu {
    font-size: 2em;
    color: white;
    margin-left: 45%;
    border-radius: 1px;
    background-color: #1259c3;
    width: 35px;
    height: 30px;
    text-align: center;
    display: inline-table;
    margin-bottom: 10px;
}

main {
    width: 90%;
}


.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    margin: 0%;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
    margin: 0%;
}

.descripciones {
    font-size: 16px;
}

article {
    margin-bottom: 10px;
}

.fa-truck:before {
    color: #39b54a;
}

.article-div {
    border-top: solid 1px #ebebeb;
    border: 15px;
}

footer {
    text-align: center;

}

#footer_icon {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

@media(max-width: 360px) {
    .body__main__h4 {
        display: none;
    }

    .body__header__lista {
        display: none;
    }
}


@media(min-width: 361px) {

    .burger-menu {
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}


@media(min-width: 769px) {

    .burger-menu {
        display: none;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}